@charset "UTF-8";
body {
  width: 100%;
  height: 100%;
  background: #f6f6f6;
}

body .myphoto header {
  position: relative;
  height: 13.06667vw;
  margin: 0 0 8vw;
  background: #02a578;
}

body .myphoto header .boxmine {
  width: 100vw;
  height: 13.06667vw;
  padding: 0 2.13333vw;
}

body .myphoto header .boxmine .anticon-left, body .myphoto header .boxmine .anticon-unordered-list, body .myphoto header .boxmine .anticon-shopping-cart {
  margin-top: 2.66667vw;
  color: #FFF;
  font-size: 24px;
}

body .myphoto header .boxmine .anticon-left {
  float: left;
}

body .myphoto header .boxmine .anticon-unordered-list, body .myphoto header .boxmine .anticon-shopping-cart {
  float: right;
}

body .myphoto header .boxmine .anticon-shopping-cart {
  margin-right: 5.33333vw;
}

body .myphoto header .photo {
  position: absolute;
  display: block;
  width: 40vw;
  height: 9.33333vw;
  font-weight: 53.33333vw;
  font-size: 20px;
  color: #fff;
  top: 2.66667vw;
  left: 34.66667vw;
}

body .myphoto .photomine {
  width: 100vw;
  height: 93.46667vw;
  padding-top: 41.33333vw;
}

body .myphoto .photomine img {
  width: 40vw;
  height: 40vw;
  margin-left: 29.33333vw;
}

body .myphoto .photomine .p20 {
  color: #666;
  line-height: 4vw;
  padding-top: 5.6vw;
  text-align: center;
}

body .myphoto .now-points {
  height: 12vw;
  line-height: 12vw;
  margin-bottom: 12vw;
  background: #fff;
  margin-top: -8vw;
}

body .myphoto .history {
  border-bottom: 0.26667vw solid transparent;
  margin-top: -8vw;
}

body .myphoto .history .ant-menu {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body .myphoto .history .ant-menu .ant-menu-item-active, body .myphoto .history .ant-menu .ant-menu-item-selected {
  background: #b6dbd0;
  text-align: center;
  width: 33.3%;
  color: #02a578;
  border-bottom: 2px solid #02a578;
}

body .myphoto .points {
  height: 12vw;
  line-height: 12vw;
  background: #fff;
}

body .myphoto .points .nopic {
  height: 5.06667vw;
  line-height: 12vw;
}

body .myphoto .foo {
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  top: 150.66667vw;
  left: 0;
  padding: 4.8vw 0;
  background-color: #f6f6f6;
  min-height: 13.33333vw;
}

body .myphoto .foo .pp {
  text-decoration: none;
  background: 0 0;
  font-family: "Microsoft Yahei","宋体",Arial,sans-serif;
}
