body {
  color: #666;
}

.Photoxiangqing .uiNavbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  color: #fff;
  overflow: hidden;
  background-color: #02a578;
  height: 11.73333vw;
  width: 100%;
}

.Photoxiangqing .uiNavbar .goback,
.Photoxiangqing .uiNavbar .cart,
.Photoxiangqing .uiNavbar .more {
  font-size: 5.86667vw;
}

.Photoxiangqing .uiNavbar .goback {
  position: absolute;
  top: 0;
  left: 2.66667vw;
}

.Photoxiangqing .uiNavbar .cart {
  position: absolute;
  top: 0;
  right: 11.73333vw;
}

.Photoxiangqing .uiNavbar .more {
  position: absolute;
  top: 0;
  right: 2.4vw;
}

.Photoxiangqing .media {
  width: 93.6vw;
  height: 93.6vw;
  margin-top: 14.66667vw;
  margin-left: 3.33333vw;
}

.Photoxiangqing .media img {
  width: 100%;
}

.Photoxiangqing .comment {
  width: 100%;
  height: 6.13333vw;
  margin-top: 1.33333vw;
  border-bottom: 1px solid #ccc;
  background: #fff;
}

.Photoxiangqing .comment img {
  width: 4.8vw;
  height: 4.8vw;
  position: relative;
  top: -1.33333vw;
  left: 3.33333vw;
}

.Photoxiangqing .comment .wen_photo {
  width: 66.66667vw;
  position: relative;
  color: #666;
  font-size: 1.6vw;
  top: -6.66667vw;
  left: 10.66667vw;
}

.Photoxiangqing .comment .eyeleft_photo {
  margin-right: 2.66667vw;
  position: relative;
  top: -12.53333vw;
  left: 77.33333vw;
}

.Photoxiangqing .comment .eyeright_photo {
  margin-right: 2.66667vw;
  position: absolute;
  top: 109.33333vw;
  left: 88vw;
}

.Photoxiangqing .comment .eyeleft_photo, .Photoxiangqing .comment .eyeright_photo {
  width: 1.33333vw;
  height: 1.33333vw;
  font-size: 1.6vw;
}

.Photoxiangqing .reply {
  height: 11.2vw;
  line-height: 11.2vw;
  border-top: 0.26667vw solid #e5e5e5;
  border-bottom: 0.26667vw solid #e5e5e5;
  text-align: center;
  margin-top: 6.66667vw;
}

.Photoxiangqing .reply h2 {
  color: #02a578;
  font-size: 3.73333vw;
  background-color: #fff;
}

.Photoxiangqing .replylist li {
  display: block;
  height: 13.33333vw;
  border-bottom: 0.3px solid #ccc;
  font-size: 11px;
}

.Photoxiangqing .replylist img {
  width: 10.66667vw;
  height: 10.66667vw;
  display: block;
  border-radius: 10.66667vw;
  margin: 1.33333vw 0 0 1.33333vw;
}

.Photoxiangqing .replylist a {
  color: #02a578;
  position: relative;
  top: -9.33333vw;
  left: 13.33333vw;
}

.Photoxiangqing .replylist span {
  display: block;
  position: absolute;
  top: 136vw;
  left: 66.66667vw;
  color: #8c8c8c;
}

.Photoxiangqing .replylist .wenh {
  position: absolute;
  top: 140vw;
  left: 12vw;
}

.Photoxiangqing .replylist .text02 {
  width: 13.33333vw;
  height: 6.66667vw;
  position: absolute;
  top: 154.66667vw;
  left: 13.33333vw;
}

.Photoxiangqing .replylist .text02 img {
  display: block;
  margin-top: 2.66667vw;
  width: 3.2vw;
  height: 3.2vw;
}

.Photoxiangqing .replylist .text02 i {
  display: block;
  margin-top: -4.66667vw;
  margin-left: 4.66667vw;
}

.Photoxiangqing .replylist .number {
  position: absolute;
  top: 148vw;
  left: 64vw;
  color: #8c8c8c;
}

.Photoxiangqing .text02 {
  width: 13.33333vw;
  height: 6.66667vw;
  position: absolute;
  top: 154.66667vw;
  left: 13.33333vw;
}

.Photoxiangqing .text02 img {
  display: block;
  margin-top: 2.66667vw;
  width: 3.2vw;
  height: 3.2vw;
}

.Photoxiangqing .text02 i {
  display: block;
  margin-top: -4.66667vw;
  margin-left: 4.66667vw;
}

.Photoxiangqing .number {
  position: absolute;
  top: 148vw;
  left: 64vw;
  color: #8c8c8c;
}

.Photoxiangqing .text03 {
  width: 26.66667vw;
  height: 6.66667vw;
  position: absolute;
  top: 168.66667vw;
  left: 13.33333vw;
}

.Photoxiangqing .text03 img {
  display: block;
  margin-top: 2.66667vw;
  width: 3.2vw;
  height: 3.2vw;
  margin-top: -2.13333vw;
  margin-left: 10.66667vw;
}

.Photoxiangqing .text03 i {
  display: block;
  margin-top: 2.66667vw;
  width: 13.33333vw;
  height: 3.2vw;
}

.Photoxiangqing .number03 {
  color: #8c8c8c;
  position: absolute;
  top: 161.33333vw;
  left: 64vw;
}

.Photoxiangqing .none {
  text-align: center;
  font-size: 1.6vw;
  margin-top: 1.33333vw;
  margin-bottom: 26.66667vw;
  color: #8c8c8c;
}

.Photoxiangqing .foot {
  margin-bottom: 20vw;
  text-align: center;
  font-size: 1.6vw;
}

.Photoxiangqing .ding {
  width: 13.33333vw;
  height: 13.33333vw;
  border-radius: 6.66667vw;
  background: #02a578;
  position: fixed;
  top: 144vw;
  right: 2.66667vw;
  text-align: center;
  padding-top: 1.33333vw;
  font-size: 8vw;
  color: #FFF;
}
