@charset "utf-8";
@function vw($px) {
@return ($px / 750) * 100vw;
}

.trip{
    .uiNavbar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 10;
            color: #fff;
            overflow: hidden;
            background-color: #02a578;
            height: vw(88);
            width: 100%;
        .goback,
        .cart,
        .more {
            font-size: vw(44);
        }
        
        .goback {
            position: absolute;
            top: 0;
            left: vw(20);
        }
        
        .cart {
            position: absolute;
            top: 0;
            right: vw(88);
        }
        
        .more {
            position: absolute;
            top: 0;
            right: vw(18);
            }
        }
    
   

    .btn{
        width: vw(710);
        height: vw(80);
        background: pink;
        margin-top: vw(110);
        margin-left: vw(20);
        .btn01{
            width: 100%;
            height: 100%;
            text-align: left;
        }
     }
}